.en-tête {
    background-color: cornflowerblue;
    border: 2px solid black;
    margin: 10px;
}

.nav {
    background-color: rgb(230, 120, 144);
    border: 2px solid black;
    margin: 10px;
}

.aside {
    background-color: cornflowerblue;
    border: 2px solid black;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 200px;
}

.paragraphe {
    background-color: antiquewhite;
    margin: 10px;
}

.article {
    width: 90%;
    flex-direction: column;
}

.footer {
    background-color: cornflowerblue;
    border: 2px solid black;
    margin: 10px;
}
.article_aside {
    display: flex;
    flex-direction: row-reverse;
}

article{
    background-color: blanchedalmond;
    border: 2px solid black;
    margin: 10px;
}

