*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}

nav div{
    margin-top: 60px;
    margin-inline: 60px;
}
nav{
    color: white;
    display: flex;
    justify-content: space-around;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    justify-content: center;
    background-image:url(/images/imagesDrapeau/image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    align-items: center;
    justify-content: center;
    color: white;
    height: 200px;
    font-size:5vw;
   
}

article{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: justify;
    margin-top: 50px;
    margin-inline: 200px;
}

article div{
   margin-inline: 20px;
}

.image2{
    width: 700px;
    height: 500px;
}

.image3{
    width: 900px;
    height: 500px;
}

.image4{
    width: 700px;
    height: 500px;
}

.image5{
    width: 800px;
    height: 500px;
}

.image6{
    width: 700px;
    height: 500px;
}

.image7{
    width: 700px;
    height: 500px;
}

.image8{
    width: 700px;
    height: 500px;
}

.image9{
    width: 700px;
    height: 500px;
}

.image10{
    width: 700px;
    height: 500px;
}

.image11{
    width: 700px;
    height: 500px;
}

.image12{
    width: 700px;
    height: 500px;
}

.image13{
    width: 700px;
    height: 500px;
}

@media screen and (max-width: 600px) {
    .logo{
        display: none;
    }
    nav{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
