/*
    Auteur: Gabriel BEER
    Date: 21.12.2023
    Description: projet module 293
*/

/*définition de la police pour toutes les pages*/
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}
/*marge des élément du menu*/
nav div {
  margin-top: 60px;
  margin-inline: 60px;
  font-size: 20px;
}
/*propriété du menu en entier*/
nav {
  color: white;
  display: flex;
  justify-content: space-around;
}
/*propriété du header (h1+menu)*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*image de fond du menu pour chaque page*/
#headerAcceuil {
  background-image: url("/images/imagesAccueil/image1.jpg");
}

#headerDrapeaux {
  background-image: url("/images/imagesDrapeau/image1.jpg");
}

#headerPoints {
  background-image: url("/images/ImagesPoints/image1.jpg");
}

#headerFIA {
  background-image: url("/images/imagesFIA/images1.jpg");
}

#headerFOM {
  background-image: url("/images/imagesFOM/image1.jpg");
}
/*propriété du menu h1*/
h1 {
  align-items: center;
  justify-content: center;
  color: white;
  height: 200px;
  font-size: 5vw;
}
/*propriété des articles*/
article {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: justify;
  margin-top: 50px;
  margin-inline: 300px;
}
/*marge en dessous du dernier article*/
.derniereArticle {
  margin-bottom: 150px;
}
/*propriété des images en générale*/
img {
  width: 500px;
  height: auto;
}
/*propriété spécifique pour certaines image*/
.image1 {
  width: 250px;
  height: auto;
}

.image2 {
  width: 600px;
  height: auto;
}

.image3 {
  width: 400px;
  height: auto;
}

.image4 {
  width: 300px;
  height: auto;
}
/*supprésion des petite marge de base*/
body {
  margin: 0;
}
/*espace entre le texte et les image*/
article div {
  margin-inline: 20px;
}
/*supprésion des décoration et changement de couleur pour les liens*/
a {
  text-decoration: none;
  color: white;
}
/*réduction des marche pour les écran de moins de 1550px*/
@media screen and (max-width: 1550px) {
  article {
    margin-inline: 150px;
  }
}
/*réduction des marche pour les écran de moins de 1300px et mise a la verticale des images + article*/
@media screen and (max-width: 1300px) {
  article {
    margin-inline: 10px;
    flex-direction: column;
    align-items: center;
  }
}
/*supprésions des image pour les écran de moins de 800px et mise a la verticale du menu*/
@media screen and (max-width: 800px) {
  .logo {
    display: none;
  }

  article {
    margin-inline: 0px;
  }

  nav {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  nav div {
    margin-top: 20px;
    font-size: 20px;
  }

  h1 {
    margin-top: 60px;
    font-weight: 600;
    font-size: 25px;
  }
/*changement de certaines image de fond pour les écran de moins de 800px pour améliorer la lisibilité*/
  #headerAcceuil {
    background-image: url("/images/imagesAccueil/image4.jpg");
  }

  #headerFOM {
    background-image: url(/images/imagesFOM/image7.jpg);
  }
}
