/*
    Auteur: Gabriel BEER
    Date: 21.12.2023
    Description: projet module 293
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}

nav div{
    margin-top: 60px;
    margin-inline: 60px;
}
nav{
    color: white;
    display: flex;
    justify-content: space-around;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    justify-content: center;
    background-image:url(/images/imagesDrapeau/image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    align-items: center;
    justify-content: center;
    color: white;
    height: 200px;
    font-size:5vw;
   
}

article{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: justify;
    margin-top: 50px;
    margin-inline: 200px;
}

article div{
   margin-inline: 20px;
}

.image2{
    width: 350px;
    height: auto;
}


.image3{
    width: 350px;
    height: auto;
}

.image4{
    width: 350px;
    height: auto;
}

.image5{
    width: 350px;
    height: auto;
}

.image6{
    width: 250px;
    height: auto;
}

.image7{
    width: 350px;
    height: auto;
}

.image8{
    width: 350px;
    height: auto;
}

.image9{
    width: 350px;
    height: auto;
}

.image10{
    width: 350px;
    height: auto;
}

.image11{
    width: 350px;
    height: auto;
}

.image12{
    width: 350px;
    height: auto;
}

.image13{
    width: 350px;
    height: auto;
}

@media screen and (max-width: 1300px) {
    article{
        margin-inline: 10px;
    }
}

@media screen and (max-width: 800px) {
    .logo{
        display: none;
    }

    article{
        margin-inline: 0px;
    }

    nav{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
